<h1>Broadcast</h1>

<%= form_tag admin_broadcasts_path do %>
  <div class="form-group">
      <%= text_area_tag :message, '', class: 'form-control', placeholder: 'Message' %>
  </div>
  <div class="form-group">
    <%=submit_tag 'Send', class: 'btn btn-primary' %>
  </div>
<% end %>

