<h1>Users</h1>

<table class="table">
  <tr>
    <th width="25%">First</th>
    <th width="25%">Last</th>
    <th width="25%">Language</th>
    <th width="25%">Registered</th>
  </tr>
  <% collection.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.language %></td>
      <td><%= l user.created_at, format: :short %></td>
    </tr>
  <% end %>
</table>
